/web/bundles/
/web/js/bootstrap*
/web/css/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/AreaPhoto/AppBundle/Resources/config/webservices_conf.yml
/src/AreaPhoto/AppBundle/Resources/public/js/build
/src/AreaPhoto/AppBundle/Resources/public/images
/node_modules
.buildpacks
Procfile
